// app global css in SCSS form
@import 'quasar.variables';

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

.q-expansion-item__container {
  .q-item {
    .q-item__section {
      .q-icon {
        color: $white !important;
      }
    }

    &.text-primary {
      .q-item__section {
        .q-icon {
          color: var(--q-primary) !important;
        }
      }
    }
  }
}

.q-table__container {
  max-height: calc(100vh - 100px);
}

.absolute {
  right: 10px;
  bottom: 15px;
}

.my-card {
  padding: 20px 10px;
  border-radius: 10px !important;
}

.login-card {
  min-width: 100%;
  flex-direction: column;

  &:not(.mobile) {
    min-width: 70%;
  }

  .logo {
    margin-bottom: 20px;
  }

  .forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;

    .forgot-password {
      margin: 10px;
      cursor: pointer;
    }
  }
}

.promo-container {
  min-width: 30%;

  .promo {
    width: 100%;
    height: calc(100% - 20px);
    margin: 10px 0;
    border-left: var(--q-primary) solid 1px;
  }
}
